@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

/* ############################## Big-Picture Positioning ############################# */
#root {
  height: 100%;
  min-height: 100vh;
  font-size: 20px;
}

.App {
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: center;
}

.pool {
  width: 100%;
}

/* Match react-tabs */
.card-body {
  margin-left: calc(max(17%, 235px) + 20px);
}

/* ############################## Content of a Tab ############################# */
.candidate,
.jobDescription {
  width: 100%;
  margin-bottom: 3%;
  background-color: white;
  text-align: start;
  padding-top: 3%;
}

.candidate h1,
.jobDescription h1 {
  font-weight: bolder;
}

.candidate h2 {
  text-decoration: underline;
  margin-bottom: 0.7rem;
}

.candidate h3,
.jobDescription h2 {
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.2rem;
}

.candidate h4 {
  font-size: inherit;
  margin: 0.4rem;
}

.candidate h5 {
  color: #888;
  font-size: 1.1rem;
  margin: 0.4rem;
}

.candidate .eduBasics {
  margin-bottom: 0;
}

.candidate .eduInfo {
  color: #888;
  font-size: 1.1rem;
  margin-left: 2rem;
  margin-top: 0;
}
