@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.App {
    text-align: center;
    background: white;
    color: black;
    overflow: hidden;
    font-family: 'Rubik', sans-serif;
}


.header{
    font-size: 24px;
    padding: 3%;
}

.subheader{
    font-size: 20px;
    padding: 3%;
    text-align: start;
}

.subtext{
    text-align: start;
    padding-left: 3%;
}